# Discord Bot Token
DISCORD_TOKEN=your_bot_token_here

# Channel IDs
STATUS_CHANNEL_ID=1504153522986418246
RULES_CHANNEL_ID=1504191090905841717
INFO_CHANNEL_ID=1504153029627219988
WELCOME_CHANNEL_ID=1504153378593181726

# Admin Configuration
AUTHORIZED_ADMIN_ID=1152817463189327902
TICKET_STAFF_ROLE_NAME=Ticket Support
TICKET_LOG_CATEGORY_NAME=Ticket Logs
TICKET_LOG_CHANNEL_NAME=ticket-logs
TICKET_DATA_FILE=ticket_data.json
TICKET_BANNER_PATH=assets/ticket_banner.png

# API Configuration
API_BASE=http://srv125.godlike.club:26045/api/v1/player/
API_KEY=your_api_key_here
WEBSITE_API_BASE=https://hellcore.net/api
WEBSITE_API_KEY=hellcore_secret_key
HC_BOT_SECRET=hellcore-secret-123
